body {
    align-content: center;
    text-align: center;
}
section{
    width:100%;
        height: 800px;
        margin: 10px auto;
}

.line{
    width: 10%;
    height: 10px;
    background-color: black;
    margin:10px auto;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 250%

}
p{
 font-family: 'Raleway', sans-serif;
    font-size: 100%   
}
body{
 background-image: repeating-linear-gradient(red, orange, yellow, green, blue, pink, purple, indigo, maroon, brown, black);
}
#games{
    background-color: red;
    width: 100%
}

#games img{
    transition: transform .2s;
    border-radius: 25%;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#games img:hover{
    transform: scale(0.9);
}
    .carousel-inner p{
        color: white;
        font-family: 'Raleway', sans-serif;
    }
#apps{
    height: 1500px;
}